<div ng-controller="chatBoxCtrl">
  <strong>Game Chat :</strong>
  <form style="margin:0;"
        ng-submit="doSendMessage()">
    <input style="width:80%;"
           ng-model="chat_msg"
           placeholder="Chat msg..."
           ng-keydown="stopKeyPropagation($event)"
           ng-keypress="stopKeyPropagation($event)"
           />
    <button style="width:15%;"
            type="submit">Send</button>
  </form>
  <div ng-repeat="cmd in showChatCommands(game.new_commands).reverse() track by cmd.stamp">
    <span style="color:#00f;"
          ng-style="{
          color: cmd.user === user.name ? '#33F' : '#F3F'
          }"
          >[{{::cmd.user}}]</span>
    {{::cmd.msg_text}}
  </div>
  <div ng-repeat="cmd in game.chat_commands.slice().reverse() track by cmd.stamp"
       ng-style="{
       'background-color': $index === 0 ? '#0F0' : 'none'
       }"
       >
    &#8594;
    <span style="color:#00f;"
          ng-style="{
          color: cmd.user === user.name ? '#33F' : '#F3F',
          }"
          >[{{::cmd.user}}]</span>
    {{::cmd.msg_text}}
  </div>
</div>
