<div ng-controller="diceBoxCtrl">
  <div ng-show="game.id">
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(1)">1d6</button>
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(2)">2d6</button>
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(3)">3d6</button>
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(4)">4d6</button>
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(5)">5d6</button>
    <button style="
            width: 50px;
            height: 2em;
            "
            ng-click="game.rollDice(1, 3)">1d3</button>
  </div>
  <div ng-repeat="cmd in showDiceCommands(game.new_commands).reverse() track by cmd.stamp">
    <span style="color:#00f;"
          ng-style="{
          color: cmd.user === user.name ? '#33F' : '#F3F'
          }"
          >[{{::cmd.user}}]</span>
    {{::cmd.msg_text}}
  </div>
  <div ng-repeat="cmd in showDiceCommands(game.commands).reverse() track by cmd.stamp"
       ng-style="{
       'background-color': $index === 0 ? '#0F0' : 'none'
       }"
       >
    &#8594;
    <span style="color:#00f;"
          ng-style="{
          color: cmd.user === user.name ? '#33F' : '#F3F',
          }"
          >[{{::cmd.user}}]</span>
    {{::cmd.msg_text}}
  </div>
</div>
