<div ng-keydown="onKey($event)"
     tabindex="0"
     style="vertical-align:top">
  <strong>Game Id : {{game.id}}</strong><br />
  <svg id="canvas"
       style="border:1px solid black;display: inline-block;"
       width="800px" height="800px"
       viewBox="
       {{game.board.view.x}} {{game.board.view.y}}
       {{game.board.view.width}} {{game.board.view.height}}"
       preserveAspectRatio="xMinYMin meet"
       ng-mousedown="doSelectStart($event)"
       ng-mousemove="doSelectMove($event)"
       ng-mouseup="doSelectStop($event)">
    <image x="0" y="0" width="{{game.board.width}}" height="{{game.board.height}}"
           xlink:href="data/Board.png"
           style="display:inline"
           />
    <svg x="0" y="0" width="{{game.board.width}}" height="{{game.board.height}}"
         style="display:inline"
         >
      <rect x="120" y="136" width="60" height="43"
            style="
            fill:#00F;
            fill-opacity:0.2;
            "
            transform="rotate(40, 150, 155)"
            />
      <rect x="295" y="308" width="85" height="64"
            style="
            fill:#00F;
            fill-opacity:0.2;
            "
            transform="rotate(40, 338, 340)"
            />
      <rect x="205" y="242" width="70" height="7"
            style="
            fill:#F00;
            fill-opacity:0.2;
            "
            transform="rotate(84, 240, 245)"
            />
      <circle cx="90" cy="242" r="29"
              style="
              fill:#0F0;
              fill-opacity:0.2;
              "
              />
      <circle cx="390" cy="242" r="29"
              style="
              fill:#0F0;
              fill-opacity:0.2;
              "
              />
    </svg>
    <svg id="model-canvas"
         x="0" y="0" width="{{game.board.width}}" height="{{game.board.height}}"
         style="display:inline"
         >
      <svg ng-repeat="model in game.models"
           x="{{model.state.x}}" y="{{model.state.y}}">
        <g transform="rotate({{model.state.rot}}, 30, 30)">
          <path d="
                M{{10-model.img.r}},30
                L{{50+model.img.r}},30
                A{{20+model.img.r}},{{20+model.img.r}} 0 0,0 {{10-model.img.r}},30
                "
                style="
                stroke:#000;
                stroke-width:0.5px;
                pointer-events: none;
                fill: #000;
                fill-opacity: 0.5;
                "
                ng-show="model.state.show.reach"
                />
          <path d="
                M{{25-model.img.r}},30
                L{{35+model.img.r}},30
                A{{5+model.img.r}},{{5+model.img.r}} 0 0,0 {{25-model.img.r}},30
                "
                style="
                stroke:#000;
                stroke-width:0.5px;
                pointer-events: none;
                fill: #000;
                fill-opacity: 0.5;
                "
                ng-show="model.state.show.melee"
                />
          <image x="{{model.img.x}}" y="{{model.img.y}}"
                 width="{{model.img.width}}" height="{{model.img.height}}"
                 xlink:href="{{model.img.link}}"
                 style="pointer-events: none"
                 />
          <circle ng-click="onModelClick($event, model)"
                  cx="{{model.img.width/2}}" cy="{{model.img.height/2}}" r="{{model.img.r}}"
                  style="
                  fill:#F00;
                  fill-opacity:0.5;
                  stroke-width:1px;
                  "
                  ng-style="{
                  'stroke': model.state.active ? '#0F0' : none
                  }"
                  
                  /> 
        </g>
      </svg>
    </svg>
    <rect x="{{selection.x}}" y="{{selection.y}}"
          width="{{selection.width}}" height="{{selection.height}}"
          style="
          fill: none;
          stroke:#00F;
          stroke-width:0.5px;
          " />
  </svg>
  <div style="display:inline-block;vertical-align:top;">
    <div style="border:1px solid black;max-height:200px;overflow-y:scroll;">
      <button ng-click="game.rollDice(1)">1d6</button>
      <button ng-click="game.rollDice(2)">2d6</button>
      <button ng-click="game.rollDice(3)">3d6</button>
      <button ng-click="game.rollDice(4)">4d6</button>
      <button ng-click="game.rollDice(5)">5d6</button>
      <form style="margin:0;"
            ng-submit="doSendMessage()">
        <input style="width:100%;"
               ng-model="chat_msg"
               placeholder="Chat msg..." />
      </form>
      <div>
        <strong>New Messages :</strong>
      </div>
      <div ng-repeat="msg in game.new_messages.slice().reverse()">
        {{msg.type}} - {{msg.text}}
      </div>
      <div>
        <strong>Messages :</strong>
      </div>
      <div ng-repeat="msg in game.messages.slice().reverse()">
        {{msg.type}} - {{msg.text}}
      </div>
    </div>
    <div style="border:1px solid black;max-height:200px;overflow-y:scroll;">
      <div>
        <strong>New Commands :</strong>
        <button ng-click="game.undoLastCommand()">Undo</button>
      </div>
      <div ng-repeat="cmd in game.new_commands.slice().reverse()">
        {{cmd.desc()}} - {{cmd.stamp}}
      </div>
      <div>
        <strong>Commands :</strong>
        <button ng-click="game.undoLastCommand()">Undo</button>
      </div>
      <div ng-repeat="cmd in game.commands.slice().reverse()">
        {{cmd.desc()}} - {{cmd.stamp}}
      </div>
    </div>
  </div>
  <div style="">
    Mouse Actions :
    <ul>
      <li>click on a model : select the model</li> 
      <li>Ctrl + click on models : select multiple models</li>
      <li>Drag-Box on models : select multiple models</li>
    </ul>
    Keyboard shortcuts :
    <ul>
      <li>+/- : Zoom in/out</li>
      <li>Alt + Directionnal Arrows : move view</li>
      <li>(Shift + )Up/Down Arrows : (small) advance selected model</li>
      <li>(Shift + )Right/Left Arrows : (small) rotate selected model</li>
      <li>(Shift + )Ctrl + Directionnal Arrows : (small) move selected model</li>
      <li>m : toggle melee range of selected model</li>
      <li>r : toggle reach range of selected model</li>
    </ul>
  </div>
</div>
