<div style="vertical-align:top"
     ng-keydown="onKeyDown($event)"
     ng-keypress="onKeyPress($event)"
     tabindex="0"
     >
  <table style="border-collapse:collapse;">
    <tr>
      <td valign="top">
        <div style="
             height: {{game.board.window.height}}px;
             vertical-align: top;
             "
             ng-include="'partials/dock.html'">
        </div>
      </td>
      <td valign="top">
        <div style="
             position:relative;
             width:{{game.board.window.width+5}}px;
             height:{{game.board.window.height+5}}px;
             ">
          <div ng-show="game.loading"
               style="
               position:absolute;
               z-index:2;
               top:0px;
               left:0px;
               width:{{game.board.window.width+5}}px;
               background-color:rgba(30,100,192,0.5);
               text-align:center;
               pointer-events:none;
               ">
            <span style="
                  vertical-align:middle;
                  font-weight:bold;
                  color:#FFF;
                  ">
              Loading...
            </span>
          </div>
          <div ng-show="mode_display"
               style="
               position:absolute;
               z-index:2;
               top:{{game.board.window.height/2-25-10}}px;
               left:{{game.board.window.width/2-100+5}}px;
               width:200px;
               padding:30px 15px;
               background-color:rgba(192,30,30,0.5);
               text-align:center;
               pointer-events:none;
               ">
            <span style="
                  vertical-align:middle;
                  font-weight:bold;
                  font-size:150%;
                  color:#FFF;
                  ">
              {{modes.current.name}}
            </span>
          </div>
          <div style="
               position:absolute;
               z-index:2;
               bottom:15;
               left:0;
               "
               ng-include="'partials/viewControls.html'"
               ng-show="game.layers.view_controls"
               >
          </div>
          <div style="
               position:absolute;
               z-index:2;
               top:5;
               left:5;
               "
               ng-include="'partials/viewScale.html'"
               ng-show="game.layers.view_controls"
               >
          </div>
          <div style="
               position:absolute;
               z-index:2;
               top:10;
               right:15;
               "
               ng-include="'partials/viewLocation.html'"
               ng-show="game.layers.view_controls"
               >
          </div>
          <div id="canvas-container"
               style="
               position:relative;
               width:{{game.board.window.width+5}}px;
               height:{{game.board.window.height+5}}px;
               overflow: auto;
               ">
            <div style="
                 width:{{game.board.window.width*game.board.zoom.factor}}px;
                 height:{{game.board.window.height*game.board.zoom.factor}}px;
                 ">
            </div>
            <div ng-include="'partials/game/board.html'"
                 >
            </div>
            <div ng-include="'partials/game/terrain.html'"
                 ng-if="game.layers.terrain"
                 >
            </div>
            <div ng-include="'partials/game/deployment.html'"
                 ng-if="game.layers.deployment"
                 >
            </div>
            <div ng-include="'partials/game/scenario.html'"
                 ng-if="game.layers.scenario"
                 >
            </div>
            <div ng-include="'partials/game/locked_template.html'"
                 ng-if="game.layers.templates"
                 >
            </div>
            <div ng-include="'partials/game/model.html'"
                 ng-show="game.layers.models"
                 >
            </div>
            <div ng-include="'partials/game/template.html'"
                 ng-if="game.layers.templates"
                 >
            </div>
            <div ng-include="'partials/game/tool.html'"
                 >
            </div>
          </div>
        </div>
      </td>
      <td ng-show="game.id"
          valign="top">
        <div style="
             border:1px solid black;
             height:{{game.board.window.height}}px;
             max-height:{{game.board.window.height}}px;
             width:100px;
             max-width:125px;
             text-align:center;
             margin-right:5px;
             "
             ng-include="'partials/modeBox.html'">
        </div>
      </td>
      <td valign="top">
        <div style="vertical-align:top;">
          <span ng-show="game.id"><strong>Game Id :</strong> {{game.id}}</span>
          <strong>Player1 :</strong> {{game.player1.name}}
          <strong>Player2 :</strong> {{game.player2.name}}<br />
          <form ng-show="game.id"
                ng-submit="doInvitePlayer()">
            Invite a player :
            <select ng-model="player_invite"
                    ng-options="p as p.name for (id, p) in users.list">
            </select>
            <button type="submit">Invite</button>
          </form>
          <button ng-style="{
                  'background-color': menu_view === 'main' ? '#6F6' : (new_game_chat ? '#F6F' : 'none')
                  }"
                  ng-click="setMenuView('main')">Main</button>
          <button ng-style="{
                  'background-color': menu_view === 'units' ? '#6F6' : 'none'
                  }"
                  ng-click="setMenuView('units')">Units</button>
          <button ng-show="game.id"
                  ng-style="{
                  'background-color': menu_view === 'models' ? '#6F6' : 'none'
                  }"
                  ng-click="setMenuView('models')">Manage Models</button>
          <button ng-style="{
                  'background-color': menu_view === 'setup' ? '#6F6' : 'none'
                  }"
                  ng-click="setMenuView('setup')">Setup</button>
          <button ng-style="{
                  'background-color': menu_view === 'layers' ? '#6F6' : 'none'
                  }"
                  ng-click="setMenuView('layers')">Layers</button>
          <button ng-style="{
                  'background-color': menu_view === 'games' ? '#6F6' : (new_user_chat ? '#F6F' : 'none')
                  }"
                  ng-click="setMenuView('games')">Online</button>
          <button ng-click="doGoHome()">Home</button>
          <div ng-show="menu_view === 'main'">
            <div style="border:1px solid black;max-height:125px;overflow-y:scroll;"
                 ng-include="'partials/chatBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/clockBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/toolsBox.html'">
            </div>
            <div style="border:1px solid black;max-height:125px;overflow-y:scroll;"
                 ng-include="'partials/diceBox.html'">
            </div>
            <div style="border:1px solid black;overflow-y:scroll;"
                 ng-show="game.templates.active"
                 ng-include="'partials/templateViewBox.html'">
            </div>
            <div style="border:1px solid black;overflow-y:scroll;"
                 ng-show="
                 !game.templates.active &&
                 game.selection.length === 1
                 "
                 ng-include="'partials/modelViewBox.html'">
            </div>
            <div ng-if="game.id"
                 style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/commandBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/backupBox.html'">
            </div>
          </div>
          <div ng-if="menu_view === 'units'">
            <div style="border:1px solid black;max-height:700px;overflow-y:scroll;"
                 ng-include="'partials/unitsBox.html'">
            </div>
          </div>
          <div ng-if="menu_view === 'setup'">
            <button style="
                    margin-top:10px;
                    height:35px;
                    "
                    ng-show="game.id"
                    ng-click="doSetRandomSetup()">
              Random Setup
            </button>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/boardsBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/scenariosBox.html'">
            </div>
          </div>
          <div ng-show="menu_view === 'layers'">
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/layersBox.html'">
            </div>
          </div>
          <div ng-if="game.id"
               ng-show="menu_view === 'models'">
            <div style="border:1px solid black;max-height:600px;overflow-y:scroll;"
                 ng-include="'partials/createBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/importBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/importFKBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/netdeckBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/dropBinBox.html'">
            </div>
          </div>
          <div ng-show="menu_view === 'games'">
            <strong>User Id :</strong> {{user.id}}
            <strong>User Name :</strong> {{user.name}}
            <div style="border:1px solid black;max-height:600px;overflow-y:scroll;"
                 ng-include="'partials/usersBox.html'">
            </div>
            <div style="border:1px solid black;max-height:200px;overflow-y:scroll;"
                 ng-include="'partials/gamesBox.html'">
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div style="
       position:absolute;
       right: 0;
       bottom: 0;
       border: 1px solid black;
       background-color: #CCF;
       padding: 2px 3em;
       "
       ng-show="user_chat"
       >
      {{users.list[user_chat.from].name}} &#8594;
      {{user_chat.text}}
  </div>
</div>
