<div ng-controller="scenariosBoxCtrl">
  <strong>Scenario :</strong><br />
  <select ng-show="game.id"
          name="scenario"
          ng-model="new_scenario_cat"
          ng-options="c as c for (c,cat) in scenarios.list"
          >
  </select><br />
  <select ng-show="game.id"
          name="scenario"
          ng-model="new_scenario"
          ng-options="s as s.name for s in scenarios.list[new_scenario_cat]"
          ng-change="doSetScenario()"
          >
  </select>
  <span ng-if="!game.id">{{game.scenario.name}}</span>
  <button ng-if="game.id && new_scenario_cat"
          ng-click="doSetRandomScenario()">
    Set Random
  </button>
  <button ng-if="game.id"
          ng-show="game.scenario"
          ng-click="doGenerateObjectives()">
    Generate Objectives
  </button>
</div>
