<div ng-controller="toolsBoxCtrl">
  <div>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': modes.current.group === 'Ruler' ? '#6F6' : 'none'
            }"
            title="(Shift + 'R')"
            ng-click="doToggleMode('ruler')"
            >
      Use Ruler
    </button>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': (game.ruler.state.active) ? '#6F6' : 'none'
            }"
            ng-click="game.ruler.setActive(!game.ruler.state.active)"
            >
      Show Ruler
    </button>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': (modes.current.group === 'LoS') ? '#6F6' : 'none'
            }"
            title="(Shift + 'L')"
            ng-click="doToggleMode('los')"
            >
      Use LOS
    </button>
    <button ng-if="game.id"
            style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-click="doCreateTemplate('aoe',3)"
            >New AoE</button>
    <button ng-if="game.id"
            style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-click="doCreateTemplate('spray',6)"
            >New Spray</button>
    <button ng-if="game.id"
            style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-click="doCreateTemplate('wall')"
            >New Wall</button>
  </div>
</div>
