<div ng-controller="toolsBoxCtrl">
  <div>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': modes.current.group === 'Ruler' ? '#6F6' : 'none'
            }"
            title="(Shift + 'R')"
            ng-click="doToggleRulerMode()"
            ng-disabled="
            modes.current.group !== 'Default' &&
            modes.current.group !== 'Ruler'
            "
            >
      Use Ruler
    </button>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': (game.ruler.state.active) ? '#6F6' : 'none'
            }"
            ng-click="game.ruler.setActive(!game.ruler.state.active)"
            >
      Show Ruler
    </button>
    <button style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-style="{
            'background-color': (modes.current.group === 'LoS') ? '#6F6' : 'none'
            }"
            title="(Shift + 'L')"
            ng-click="doToggleLosMode()"
            ng-disabled="
            modes.current.group !== 'Default' &&
            modes.current.group !== 'LoS'
            "
            >
      Use LOS
    </button>
    <button ng-if="game.id"
            style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-click="doCreateTemplate('aoe',3)"
            ng-disabled="modes.current.group !== 'Default'"
            >New AoE</button>
    <button ng-if="game.id"
            style="
            width: 50px;
            height: 50px;
            align:center;
            "
            ng-click="doCreateTemplate('spray',6)"
            ng-disabled="modes.current.group !== 'Default'"
            >New Spray</button>
    <button style="
            width: 60px;
            height: 50px;
            align:center;
            "
            title="(Escape)"
            ng-click="sendKey('Escape', $event)">Default mode</button>
  </div>
</div>
