<table style="
       font-size: 12px;
       text-align: center;
       border-collapse: collapse;
       ">
  <tr>
    <td style="
        background-color:rgba(250,250,250,0.8);
        border:0px;
        padding:1px;
        margin:0px;
        width:14px;
        height:14px;
        "
        >
      1"
    </td>
    <td style="
        background-color:rgba(250,250,250,0.8);
        border:0px;
        padding:1px;
        margin:0px;
        "
        >
      <div style="
           border:2px solid black;
           border-bottom:0px;
           padding:1px;
           margin:auto;
           width:{{10*game.board.window.width/game.board.width*game.board.zoom.factor}}px;
           height:1px;
           "
           >
      </div>
    </td>
  </tr>
  <tr>
    <td style="
        background-color:rgba(250,250,250,0.8);
        border:0px;
        padding:1px;
        margin:0px;
        "
        >
      <div style="
           border:2px solid black;
           border-right:0px;
           padding:1px;
           margin:auto;
           width:1px;
           height:{{10*game.board.window.width/game.board.width*game.board.zoom.factor}}px;
           "
           >
      </div>
    </td>
  </tr>
</table>
