<div>
  <strong>Line of Sight</strong>
  <table style="border-collapse:collapse;">
    <tr>
      <td ng-click="command_sub='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='set' ? '#0F0' : none
                }"
                >Set<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('O')"
                ng-click="sendKey('O', $event)">Set Origin</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td ng-show="command_sub==='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('T')"
                ng-click="sendKey('T', $event)">Set Target</button>
      </td>
    </tr>
  </table>
</div>
