<div>
  <!-- <strong>Model Selected Commands</strong> -->
    <!-- <li>Position model(s)
    <span style="font-size:0.75em">(Drag model)</span>
    </li>
    <li>Move model(s)
    <span style="font-size:0.75em">([Shift +][Ctrl +] Arrows)</span></li>
    <li>Select a model
    <span style="font-size:0.75em">(Click on model)</span></li>
    <li>Add a model to selection
    <span style="font-size:0.75em">(Ctrl + Click on model)</span></li>
    <li>Remove a model from selection
    <span style="font-size:0.75em">(Ctrl + Click on selected model)</span></li> -->
  <strong>Models</strong>
  <table style="border-collapse:collapse;">
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'C')"
                ng-click="sendKey('Ctrl C', $event)">Copy</button>
      </td>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('Delete')"
                ng-click="sendKey('Delete', $event)">Drop</button>
      </td>
    </tr>
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'A')"
                ng-click="sendKey('Ctrl A', $event)">Select All</button>
      </td>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Escape)"
                ng-click="sendKey('Escape', $event)">Unselect All</button>
      </td>
    </tr>
    <tr>
      <td>
        <button title="(Alt+'R')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('Alt R', $event)">
          Reset Show
        </button>
      </td>
      <td ng-if="
          game.selection.length === 1 &&
          game.models[game.selection[0]].info.type==='wardude'
          ">
      <button title="(Shift+'C')"
      style="
      width: 50px;
      height: 50px;
      align:center;
      "
      ng-click="sendKey('Shift C', $event)">Ctrl Area</button>
      </td>
      <td  ng-if="
           game.selection.length === 1 &&
           game.models[game.selection[0]].info.type === 'warrior'
           ">
        <button title="(Alt+'L')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('Alt L', $event)">
          <img src="data/icons/Leader.png" />
        </button>
      </td>
    </tr>
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('+')"
                ng-click="sendKey('Add', $event)">Count +</button>
      </td>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('-')"
                ng-click="sendKey('Substract', $event)">Count -</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_last_click='melee'">
        <button title="{{model_selected_melee}}"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey(model_selected_melee, $event)"
                >
          {{model_selected_melee === 'S' ? 'Strike' : (model_selected_melee === 'R' ? 'Reach' : 'Melee')}}
        </button>
      </td>
      <td ng-click="command_last_click=''">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('N')"
                ng-click="sendKey('F', $event)">Count</button>
      </td>
    </tr>
    <tr ng-show="command_last_click==='melee'">
      <td colspan="2">
        <select style="
                width:100%;
                height:35px;
                padding-top:5px;
                "
                ng-model="model_selected_melee"
                ng-change="sendKey(model_selected_melee, $event)"
                >
          <option value="M">
            Melee ('M')
          </option>
          <option value="R">
            Reach ('R')
          </option>
          <option value="S">
            Strike ('S')
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td ng-click="command_last_click='AoE'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('{{model_selected_aoe}}')"
                ng-click="sendKey(model_selected_aoe, $event)"
                >
          AoE {{model_selected_aoe}}"
        </button>
      </td>
      <td ng-click="command_last_click='Target'">
        <button title="('T')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('T', $event)">Set Target</button>
      </td>
    </tr>
    <tr ng-show="command_last_click==='AoE'">
      <td colspan="2">
        <select style="
                width:100%;
                height:35px;
                padding-top:5px;
                "
                ng-model="model_selected_aoe"
                ng-change="sendKey(model_selected_aoe, $event)">
          <option ng-repeat="value in ['3', '4', '5']"
                  ng-value="value">
            {{value}}" ('{{value}}')
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td ng-click="command_last_click=''">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('I')"
                ng-click="sendKey('I', $event)">Image</button>
      </td>
      <td ng-click="command_last_click='Aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras[model_selected_aura].color}};
                "
                title="(Ctrl + '{{model_selected_aura}}')"
                ng-click="sendKey('Ctrl '+model_selected_aura, $event)"
                >
          Aura {{auras[model_selected_aura].name}}
        </button>
      </td>
    </tr>
    <tr ng-show="command_last_click==='Aura'">
      <td colspan="2">
        <select style="
                width:100%;
                height:35px;
                padding-top:5px;
                "
                ng-model="model_selected_aura"
                ng-change="sendKey('Ctrl '+model_selected_aura, $event)"
                >
          <option ng-repeat="(value, aura) in auras"
                  ng-value="value"
                  style="background-color: {{aura.color}}">
            {{aura.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(PageUp)"
                ng-click="sendKey('PageUp', $event)">&#8593;</button>
      </td>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(PageDown)"
                ng-click="sendKey('PageDown', $event)">&#8595;</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_last_click='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Alt+'{{model_selected_effect}}')"
                ng-click="sendKey('Alt '+model_selected_effect, $event)">
          <img ng-if="effects[model_selected_effect].icon"
               src="{{effects[model_selected_effect].icon}}" />
          <span ng-if="!effects[model_selected_effect].icon">
            {{effects[model_selected_effect].desc}}
          </span>
        </button>
      </td>
      <td ng-click="command_last_click='area'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Alt + {{model_selected_area>9 ? 'Shift + ' : ''}}'{{model_selected_area%10}}')"
                ng-click="sendKey('Alt '+(model_selected_area>9 ? 'Shift ':'')+(model_selected_area%10), $event)">
          {{model_selected_area}}" Area
        </button>
      </td>
    </tr>
    <tr ng-show="command_last_click==='effect'">
      <td colspan="2">
        <select style="
                width:100%;
                height:35px;
                padding-top:5px;
                "
                ng-model="model_selected_effect"
                ng-change="sendKey('Alt '+model_selected_effect, $event)"
                ng-options="id as e.name for (id,e) in effects"
                >
        </select>
      </td>
    </tr>
    <tr ng-show="command_last_click==='area'">
      <td colspan="2">
        <form style="display:inline;margin:0px;padding:0px;"
              ng-submit="sendKey('Alt '+(model_selected_area>9 ? 'Shift ':'')+(model_selected_area%10), $event)">
          <input style="width: 100%;"
                 type="number"
                 ng-model="model_selected_area"
                 ng-keydown="stopKeyPropagation($event)"
                 ng-keypress="stopKeyPropagation($event)"
                 required="required"
                 />
        </form>
      </td>
    </tr>
    <tr ng-click="command_last_click='unit'">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('U')"
                ng-click="sendKey('Shift U', $event)">
          Show Unit
        </button>
      </td>
      <td ng-show="
          game.selection.length === 1 &&
          game.models[game.selection[0]].state.unit
          "
          >
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'U')"
                ng-click="sendKey('Ctrl U', $event)">
          Select Whole Unit
        </button>
      </td>
    </tr>
    <tr ng-show="command_last_click==='unit'">
      <td colspan="2">
        Set Unit :
        <form style="display:inline;margin:0px;padding:0px;"
              ng-submit="doSetUnit()">
          <input style="width: 100%;"
                 type="number"
                 ng-model="model_view.unit"
                 ng-keydown="stopKeyPropagation($event)"
                 ng-keypress="stopKeyPropagation($event)"
                 />
        </form>
      </td>
    </tr>
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl + 'L')"
                ng-click="sendKey('Ctrl L', $event)">
          Clear Label
        </button>
      </td>
    </tr>
  </table>
</div>
