<div>
  <strong>Models</strong>
  <table style="border-collapse:collapse;">
    <tr>
      <td ng-click="command_sub='aoe'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='aoe' ? '#0F0' : none
                }"
                >AoE<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aoe'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('3')"
                ng-click="sendKey('3', $event)"
                >
          AoE 3"
        </button>
      </td>
      <td ng-show="
          command_sub==='area' &&
          game.selection.length === 1 &&
          game.models[game.selection[0]].info.type==='wardude'
          ">
        <button title="(Shift+'C')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('Shift C', $event)">Ctrl Area</button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['0'].color}};
                "
                title="(Ctrl + '0')"
                ng-click="sendKey('Ctrl 0', $event)"
                >
          Aura {{auras['0'].name}}
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='area'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='area' ? '#0F0' : none
                }"
                >Area<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aoe'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('4')"
                ng-click="sendKey('4', $event)"
                >
          AoE 4"
        </button>
      </td>
      <td ng-show="command_sub==='area'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Alt + {{model_selected_area>9 ? 'Shift + ' : ''}}'{{model_selected_area%10}}')"
          ng-click="sendKey('Alt '+(model_selected_area>9 ? 'Shift ':'')+(model_selected_area%10), $event)">
          {{model_selected_area}}" Area
        </button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['1'].color}};
                "
                title="(Ctrl + '1')"
                ng-click="sendKey('Ctrl 1', $event)"
                >
          Aura {{auras['1'].name}}
        </button>
      </td>
    </tr>
    <tr ng-show="command_sub==='area'">
      <td colspan="2">
        Area Size :
        <form style="display:inline;margin:0px;padding:0px;"
              ng-submit="sendKey('Alt '+(model_selected_area>9 ? 'Shift ':'')+(model_selected_area%10), $event)">
          <input style="
                 width: 100%;
                 height: 35px;
                 "
                 type="number"
                 ng-model="model_selected_area"
                 ng-keydown="stopKeyPropagation($event)"
                 ng-keypress="stopKeyPropagation($event)"
                 required="required"
                 />
        </form>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='aura' ? '#0F0' : none
                }"
                >Aura<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aoe'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('5')"
                ng-click="sendKey('5', $event)"
                >
          AoE 5"
        </button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['2'].color}};
                "
                title="(Ctrl + '2')"
                ng-click="sendKey('Ctrl 2', $event)"
                >
          Aura {{auras['2'].name}}
        </button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('N')"
                ng-click="sendKey('N', $event)">Show Count</button>
      </td>
    </tr>
    <tr>
      <td ng-show="game.selection.length === 1"
          ng-click="command_sub=''">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('C')"
                ng-click="sendKey('C', $event)"
                >Charge</button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['3'].color}};
                "
                title="(Ctrl + '3')"
                ng-click="sendKey('Ctrl 3', $event)"
                >
          Aura {{auras['3'].name}}
        </button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('+')"
                ng-click="sendKey('Add', $event)">Count +</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['B'].name}} (Alt + 'B')"
                ng-click="sendKey('Alt B', $event)">
          <img ng-if="effects['B'].icon"
               src="{{effects['B'].icon}}" />
          <span ng-if="!effects['B'].icon">
            {{effects['B'].desc}}
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='count' ? '#0F0' : none
                }"
                >Counts<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['4'].color}};
                "
                title="(Ctrl + '4')"
                ng-click="sendKey('Ctrl 4', $event)"
                >
          Aura {{auras['4'].name}}
        </button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('-')"
                ng-click="sendKey('Substract', $event)">Count -</button>
      </td>
      <td ng-show="command_sub==='edit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'A')"
                ng-click="sendKey('Ctrl A', $event)">Select All</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['C'].name}} (Alt + 'C')"
                ng-click="sendKey('Alt C', $event)">
          <img ng-if="effects['C'].icon"
               src="{{effects['C'].icon}}" />
          <span ng-if="!effects['C'].icon">
            {{effects['C'].desc}}
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='edit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='edit' ? '#0F0' : none
                }"
                >Edit<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['5'].color}};
                "
                title="(Ctrl + '5')"
                ng-click="sendKey('Ctrl 5', $event)"
                >
          Aura {{auras['5'].name}}
        </button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Shift + 'S')"
                ng-click="sendKey('Shift S', $event)">Show Souls</button>
      </td>
      <td ng-show="command_sub==='edit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Escape)"
                ng-click="sendKey('Escape', $event)">Unselect All</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['D'].name}} (Alt + 'D')"
                ng-click="sendKey('Alt D', $event)">
          <img ng-if="effects['D'].icon"
               src="{{effects['D'].icon}}" />
          <span ng-if="!effects['D'].icon">
            {{effects['D'].desc}}
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='effect' ? '#0F0' : none
                }"
                >Effect<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='aura'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                background-color:{{auras['6'].color}};
                "
                title="(Ctrl + '6')"
                ng-click="sendKey('Ctrl 6', $event)"
                >
          Aura {{auras['6'].name}}
        </button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Shift + '+')"
                ng-click="sendKey('Shift Add', $event)">Souls +</button>
      </td>
      <td ng-show="command_sub==='edit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'C')"
                ng-click="sendKey('Ctrl C', $event)">Copy</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['F'].name}} (Alt + 'F')"
                ng-click="sendKey('Alt F', $event)">
          <img ng-if="effects['F'].icon"
               src="{{effects['F'].icon}}" />
          <span ng-if="!effects['F'].icon">
            {{effects['F'].desc}}
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub=''">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('I')"
                ng-click="sendKey('I', $event)">Show Image</button>
      </td>
      <td ng-show="command_sub==='count'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Shift + '-')"
                ng-click="sendKey('Shift Substract', $event)">Souls -</button>
      </td>
      <td ng-show="command_sub==='edit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('Delete')"
                ng-click="sendKey('Delete', $event)">Drop</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['I'].name}} (Alt + 'I')"
                ng-click="sendKey('Alt I', $event)">
          <img ng-if="effects['I'].icon"
               src="{{effects['I'].icon}}" />
          <span ng-if="!effects['I'].icon">
            {{effects['I'].desc}}
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub=''">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl + 'L')"
                ng-click="sendKey('Ctrl L', $event)">
          Clear Label
        </button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['K'].name}} (Alt + 'K')"
                ng-click="sendKey('Alt K', $event)">
          <img ng-if="effects['K'].icon"
               src="{{effects['K'].icon}}" />
          <span ng-if="!effects['K'].icon">
            {{effects['K'].desc}}
          </span>
        </button>
      </td>
      <td ng-show="command_sub==='melee'">
        <button title="('M')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('M', $event)"
                >
          0.5" Melee
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='melee'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='melee' ? '#0F0' : none
                }"
                >Melee<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['S'].name}} (Alt + 'S')"
                ng-click="sendKey('Alt S', $event)">
          <img ng-if="effects['S'].icon"
               src="{{effects['S'].icon}}" />
          <span ng-if="!effects['S'].icon">
            {{effects['S'].desc}}
          </span>
        </button>
      </td>
      <td ng-show="command_sub==='melee'">
        <button title="('R')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('R', $event)"
                >
          2" Reach
        </button>
      </td>
      <td ng-show="command_sub==='orient'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(PageUp)"
                ng-click="sendKey('PageUp', $event)">&#8593;</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='orient'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='orient' ? '#0F0' : none
                }"
                >Orient.<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='effect'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="{{effects['T'].name}} (Alt + 'T')"
                ng-click="sendKey('Alt T', $event)">
          <img ng-if="effects['T'].icon"
               src="{{effects['T'].icon}}" />
          <span ng-if="!effects['T'].icon">
            {{effects['T'].desc}}
          </span>
        </button>
      </td>
      <td ng-show="command_sub==='melee'">
        <button title="('S')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('S', $event)"
                >
          4" Strike
        </button>
      </td>
      <td ng-show="command_sub==='orient'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(PageDown)"
                ng-click="sendKey('PageDown', $event)">&#8595;</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub=''">
        <button title="(Alt+'R')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('Alt R', $event)">
          Reset Show
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub=''">
        <button title="('T')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('T', $event)">Set Target</button>
      </td>
      <td ng-show="
          command_sub==='unit' &&
          game.selection.length === 1 &&
          game.models[game.selection[0]].state.unit
          "
          >
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Ctrl+'U')"
                ng-click="sendKey('Ctrl U', $event)">
          Select Whole Unit
        </button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='unit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='unit' ? '#0F0' : none
                }"
                >Unit<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='unit'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('U')"
                ng-click="sendKey('U', $event)">
          Show Unit
        </button>
      </td>
    </tr>
    <tr ng-show="command_sub==='unit'">
      <td colspan="2">
        Set Unit :
        <form style="display:inline;margin:0px;padding:0px;"
              ng-submit="doSetUnit()">
          <input style="
                 width: 100%;
                 height: 35px;
                 "
                 type="number"
                 ng-model="model_view.unit"
                 ng-keydown="stopKeyPropagation($event)"
                 ng-keypress="stopKeyPropagation($event)"
                 />
        </form>
      </td>
    </tr>
    <tr>
      <td></td>
      <td  ng-if="
           command_sub==='unit' &&
           game.selection.length === 1 &&
           game.models[game.selection[0]].info.type === 'warrior'
           ">
        <button title="(Alt+'L')"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-click="sendKey('Alt L', $event)">
          <img src="data/icons/Leader.png" />
        </button>
      </td>
    </tr>
  </table>
</div>
