<div>
  <strong>Template Locked</strong>
  <table style="border-collapse:collapse;">
    <tr ng-click="command_last_click=''">
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('L')"
                ng-click="sendKey('L', $event)">Unlock</button>
      </td>
    </tr>
    <tr>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Delete)"
                ng-click="sendKey('Delete', $event)">Delete</button>
      </td>
    </tr>
  </table>
</div>
