<div>
  <strong>Template<br /><br /></strong>
  <table style="border-collapse:collapse;">
    <tr>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('L')"
                ng-click="sendKey('L', $event)">Lock</button>
      </td>
    </tr>
    <tr>
      <td>
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="(Delete)"
                ng-click="sendKey('Delete', $event)">Delete</button>
      </td>
      <td ng-show="command_sub==='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('O')"
                ng-click="sendKey('O', $event)">Set Origin</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='set' ? '#0F0' : none
                }"
                >Set<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('T')"
                ng-click="sendKey('T', $event)">Set Target</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'aoe'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('3')"
                ng-click="sendKey('3', $event)">AoE 3"</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'spray'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('6')"
                ng-click="sendKey('6', $event)">Spray 6"</button>
      </td>
    </tr>
    <tr>
      <td ng-click="command_sub='size'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                ng-style="{
                'background-color': command_sub==='size' ? '#0F0' : none
                }"
                >Size<br />&#8594;</button>
      </td>
      <td ng-show="command_sub==='set'">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('R')"
                ng-click="sendKey('R', $event)">End of Ruler</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'aoe'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('4')"
                ng-click="sendKey('4', $event)">AoE 4"</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'spray'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('8')"
                ng-click="sendKey('8', $event)">Spray 8"</button>
      </td>
    </tr>
    <tr ng-click="command_last_click=''">
      <td>
        <button ng-if="game.templates.active.type === 'aoe'"
                style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('L')"
                ng-click="sendKey('D', $event)">Deviate</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'aoe'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('5')"
                ng-click="sendKey('5', $event)">AoE 5"</button>
      </td>
      <td ng-show="
          command_sub==='size' &&
          game.templates.active.type === 'spray'
          ">
        <button style="
                width: 50px;
                height: 50px;
                align:center;
                "
                title="('0')"
                ng-click="sendKey('0', $event)">Spray 10"</button>
      </td>
    </tr>
    <tr ng-if="game.templates.active.type === 'aoe'">
      <td colspan="2">
        <form style="display:inline;"
              ng-show="game.templates.active.type === 'aoe'">
          Max Dev. :
          <input style="
                 width:100%;
                 height:35px;
                 "
                 type="number"
                 ng-model="game.templates.active.max_deviation"
                 ng-keydown="stopKeyPropagation($event)"
                 ng-keypress="stopKeyPropagation($event)"
                 />
        </form>
    </tr>
  </table>
</div>
